.item-detail-container{
    padding: 40px 0;
    background-color:gainsboro; 
    height: 100vh;  
}

.card-item-detail{
    width: 34%;
    text-align: center;
    margin:  auto;
    border: 1px solid rgba(126,3,3, 0.274);
    padding: 20px;
    border-radius: 20px;
    background-color: white;
  }

  .item-count {
    margin-top: 30px;
  }

  .item-count button {    
    padding: 10px 14px;
    
  }

  .count {
    padding: 10px 14px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .btn-count {
    padding: 8px 12px;
    background-color: white;
    border: 2px solid rgb(126, 3, 3); 
    border-radius: 12px;
    font-weight: 600;
    font-family: Arial;
    font-size: 1.2rem;
    

  }

  .btn-add-cart {
    background-color: rgb(126, 3, 3);
    margin-top: 20px;
    color: white;
    letter-spacing: 3px;
    font-weight: 600;
    border-radius: 8px;
  }