.btn-cart {
    background-color:rgb(126, 3, 3, 0.8); 
    color: white;
    padding: 10px 14px;
    letter-spacing: 2px;
    border-radius: 12px;
    font-weight: 600;
    align-self:flex-end;
    border: none;
    cursor: pointer;

}

.div-checkout  {
    display: flex;
    align-items: center;
    margin: 30px;

}

.tbl-checkout {
    margin: auto;
    width: 80%;
    border: 1px solid rgb(126, 3, 3); 
    padding: 20px ;
    border-radius: 20px;
    
    text-align: center;
}

.tbl-checkout td {
    padding: 10px;

}



.line-btn td {
    text-align: end;   
    padding: 20px 0;
}

.line-total  {
    font-weight: 700;
    font-size: 1.1rem;
}

.line-total :first-child {
    text-align: start;
    letter-spacing: 2px;
}

.btn-delete {
    all:unset;
    cursor: pointer;
    display: inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align: middle; 
    position: relative;
}

.btn-delete::after {
    content: "Eliminar ítem";
    position: absolute;
    bottom: 5px;
    left: -50%;
    transform: translateX(50%);
    background-color: whitesmoke;
    color: rgb(126, 3, 3);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .btn-delete:hover::after {
    opacity: 1; /* Aparece al pasar el cursor */
    visibility: visible; /* Se vuelve visible */
  }
  
  .oculta {
    display: none;
  }